<header ng-include="'app/components/menu.html'" id="main-header"></header>

 <!-- homepage hero
 ================================================== -->
 <section id="hero">

  <div class="row hero-content">

    <div class="twelve columns hero-container">

       <!-- hero-slider start-->
       <div id="hero-slider" class="flexslider">

         <ul class="slides">

           <!-- slide -->
           <li>
             <div class="flex-caption">
              <h1 class="">My name is <span>Stephen Buchanan</span> and I make magic with tech.
              </h1>

              <h3 class="">Genus: Geek, Species: Creative.</h3>
            </div>
           </li>



         </ul>

       </div> <!-- end hero-slider -->

      </div> <!-- end twelve columns-->

  </div> <!-- end row -->

  <div id="more">
        <a href="#services" du-smooth-scroll du-scrollspy>More About Me<i class="fa fa-angle-down"></i></a>
  </div>

 </section> <!-- end homepage hero -->


 <!-- portfolio
 ================================================== -->
 <section id="portfolio" class="seethrough">

    <div class="row section-head">

      <div class="twelve columns">

        <h1>Examples of my work<span>.</span></h1>

         <hr />

         <p>I've completed projects for clients such as BMW, Telkom, Standard Bank and Unilever (via Ogilvy), amongst others. While I have also created apps and websites, I get most excited about the more unusual projects that require combining media, interaction and software. I've also included some personal projects in the mix, since I particularly enjoy combining music with technology.
         </p>

      </div>

    </div> <!-- end section-head -->

    <div class="row items">

       <!-- portfolio-wrapper -->

       <div id="portfolio-wrapper" class="bgrid-fourth s-bgrid-third tab-bgrid-half">


         <div ng-repeat="item in workItems" ng-include="'app/components/work-item.html'" class="bgrid folio-item" ng-click="open(item)">
         </div>

       </div> <!-- end portfolio-wrapper -->


    </div>  <!-- end row -->

 </section> <!-- end portfolio -->


 <!-- Services Section
 ================================================== -->
 <section id="services">

  <div class="row section-head">

      <div class="twelve columns">

        <h1>What I do<span>.</span></h1>

         <hr />

         <p>
         </p>

      </div>

    </div> <!-- end section-head -->

    <div class="row mobile-no-padding">

      <div class="service-list bgrid-third s-bgrid-half tab-bgrid-whole group">

        <div class="bgrid">

            <h3>Creative Directing.</h3>

            <div class="service-content">
              <p>I have plenty of experience <b>conceptualising</b> creative projects for a variety of demanding  clients, writing up <b>proposals</b> and doing <b>presentations</b> for pitches. I have directed not only creative coders but also <b>graphic designers</b>, <b>3D animation</b> teams and <b>video production</b>.
              </p>
          </div>

      </div> <!-- end bgrid -->

      <div class="bgrid">

            <h3>Technical Directing.</h3>

            <div class="service-content">
              <p>'Sure, we can do that.' I have a broad knowledge of various technologies and I know how to <b>make them work together</b>. Whether it's coding up something myself, directing talented developers/engineers or researching the right Open Source solutions available, I can always <b>make it happen</b>.
            </p>
            </div>

       </div> <!-- end bgrid -->

       <div class="bgrid">

            <h3>Creative Coding.</h3>

            <div class="service-content">
              <p>I have been programming since I was 9 years old, and I've always found it a thoroughly satisfying activity. My interest has always been to use software in the service of creativity. My favourite frameworks are <a href="http://processing.org" target="_blank">Processing</a> (Java) and <a href="http://openframeworks.cc/" target="_blank">openFrameworks</a> (C++).
              </p>
            </div>

       </div> <!-- end bgrid -->

      <div class="bgrid">

            <h3>Web Development.</h3>

            <div class="service-content">
              <p>Web technologies are almost always a part of the things I create. I am a huge fan of <a href="https://angularjs.org/" target="_blank">AngularJS</a> and <a href="https://https://nodejs.org/" target="_blank">NodeJS</a> for creating modern web applications. And I love Open Source development tools such as Yeoman, Gulp and Bower.
            </p>
            </div>

      </div> <!-- end bgrid -->

       <div class="bgrid">

            <h3>Design.</h3>

            <div class="service-content">
              <p>Although I often direct more experienced designers for bigger projects, I am also very skilled at UX design. My favourite tool is currently Bohemian Coding Sketch and I am also very handy at using Apple Motion to rapidly mock up animations.
              </p>
            </div>

       </div> <!-- end bgrid -->

       <div class="bgrid">

            <h3>Product Development.</h3>

            <div class="service-content">
              <p>In the last two years I have founded a sub-brand within my current company, specifically for creating software products that are aimed at the Eventing industry, where I have a lot of experience. We have deployed a successful Event App for multiple clients and also a VR product.
              </p>
            </div>

       </div> <!-- end bgrid -->

      </div> <!-- end service-list -->

    </div> <!-- end row -->

 </section> <!-- end services -->


 <!-- About Section
 ================================================== -->
 <section id="about" class="seethrough">

  <div class="row section-head">

      <div class="twelve columns">

        <h1>Who I Am<span>.</span></h1>

         <hr />

         <p>
         </p>

      </div> <!-- end section-head -->

    </div>

    <div class="row mobile-no-padding">

      <div class="process bgrid-half tab-bgrid-whole group">

        <div class="bgrid">

          <h3>My Passion.</h3>

          <p>Coding, creativity and music.
          </p>

      </div>

        <div class="bgrid">

          <h3>My Approach.</h3>

          <p>I think I've got an unusual mix of analytical/problem-solving obsession as well as creativity. Big fan of Agile software development methodologies.
        </p>

        </div>

        <div class="bgrid">

          <h3>My Personality.</h3>

          <p>I am just as happy spending hours working on something alone as I am leading a team or presenting work to clients. And, yes, I do love wearing a hat.
          </p>

        </div>

        <div class="bgrid">

          <h3>My Goals.</h3>

          <p>I want to enjoy a lifetime making delightful creative work using technology.
          </p>

        </div>

      </div> <!-- end process -->

    </div> <!-- end row -->

 </section> <!-- end about -->


 <!-- contact
 ================================================== -->
 <section id="contact">

  <div class="row section-head">

    <div class="twelve columns">

         <h1>Get In Touch With Me<span>.</span></h1>

         <hr />

      </div>

    </div> <!-- end section-head -->

    <div class="row">


       <div class="twelve columns tab-whole right">

          <p class="lead">Though I'm currently based in Johannesburg, South Africa, I am married to a wife of Dutch descent, have visited the Netherlands a number of times and I am determined to make my home in this beautiful country.

         <h3 class="address">Contact details</h3>

         <p>
          <a href="mailto:webtvmaster@gmail.com">webtvmaster@gmail.com</a><br>
          I'm very active on Twitter: <a href="https://twitter.com/anselan" target="_blank">@anselan</a><br>
          I publish Open Source projects on Github: <a href="https://github.com/anselanza" target="_blank">anselanza</a>
          </p>

          <h3>Contact Numbers:</h3>
          <p>Mobile: (+27) 084 041 9138</p>

       </div>

    </div> <!-- end row -->

 </section>  <!-- end contact -->


 <!-- Footer
 ================================================== -->
 <footer>

    <div class="row">

      <div class="twelve columns content group">

      <ul class="social-links">
             <li><a href="https://www.facebook.com/stephendavidbuchanan"><i class="fa fa-facebook-square"></i></a></li>
             <li><a href="https://twitter.com/anselan"><i class="fa fa-twitter-square"></i></a></li>
             <li><a href="https://za.linkedin.com/in/stephendbuchanan"><i class="fa fa-linkedin"></i></a></li>
          </ul>

          <hr />

          <div class="info">

            <div class="footer-logo"></div>

            <p>This digital portfolio was created using a theme from <a href="http://www.styleshout.com/">Styleshout</a>, but heavily customised by myself using some magical AngularJS and ProcessingJS (for the animated circuit background).
            </p>

         </div>

      </div>

        <div id="go-top">
          <a title="Back to Top" href="#hero" du-smooth-scroll du-scrollspy>Back to Top<i class="fa fa-angle-up"></i></a>
       </div>

    </div> <!-- end row -->

 </footer> <!-- end footer -->

 <div id="preloader">
    <div id="loader"></div>
 </div>
