<!-- header
 ================================================== -->
 <!-- <header > -->

  <div class="row">

      <div class="logo">
         <a href="#hero" du-smooth-scroll du-scrollspy>Stephen Buchanan</a>
      </div>

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">
          <span class="menu-icon">Menu</span>
         </a>
        <a class="mobile-btn" href="#" title="Hide navigation">
          <span class="menu-icon">Menu</span>
        </a>

         <ul id="nav" class="nav">
            <li><a href="#hero" du-smooth-scroll du-scrollspy>Home.</a></li>
            <li><a href="#portfolio" du-smooth-scroll du-scrollspy >Works.</a></li>
            <li><a href="#services" du-smooth-scroll du-scrollspy>Skills.</a></li>
            <li><a href="#about" du-smooth-scroll du-scrollspy>About.</a></li>
            <li><a href="#contact" du-smooth-scroll du-scrollspy>Contact.</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <ul class="header-social">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>

   </div>

 <!-- </header> <!-- end header -->
