<div class="popup-modal">


  <div uib-carousel active="$ctrl.active">

   <div uib-slide ng-repeat="slide in $ctrl.item.slides track by slide.id" index="slide.id">
     {{slide}}
     <!-- image type slide-->
     <img ng-src="{{slide.img}}" ng-if="slide.img"/>

     <!-- vimeo type slide-->
     <!-- <iframe ng-if="slide.vimeo"  ng-src="{{$ctrl.trustSrc('https://player.vimeo.com/video/'+slide.viemo+'?autoplay=1&title=0&byline=0&portrait=0')}}" width="600" height="338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
     <p><a ng-href="https://vimeo.com/{{slide.viemo}}">BMW Tunnel Installation</a> on <a href="https://vimeo.com">Vimeo</a>.</p> -->

     <iframe ng-if="slide.vimeo" ng-src="{{$ctrl.trustSrc('https://player.vimeo.com/video/'+slide.vimeo.videoid+'?autoplay=1&title=0&byline=0&portrait=0')}}" width="600" height="338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
     <p><a href="https://vimeo.com/25022786">BMW Tunnel Installation</a> from <a href="https://vimeo.com/user5936605">Mann Made Media</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

   </div>

  </div>



   <div class="media">
     <!-- <img ng-src="{{$ctrl.item.img}}" alt="{{$ctrl.item.title}}" /> -->

   </div>

   <div class="description-box">
     <h4>{{$ctrl.item.title}}</h4>
     <p>{{$ctrl.item.description}}</p>
     <span class="categories">{{$ctrl.item.subtitle}}</span>
   </div>

     <div class="link-box group">
       <a href="#">Details</a>
       <a class="popup-modal-dismiss" ng-click="$ctrl.cancel()">Close</a>
     </div>

 </div><!-- modal-01 end -->
