<div class="popup-modal">


  {{$ctrl.item.slides}}

  <div uib-carousel>

   <div uib-slide ng-repeat="slide in $ctrl.item.slides track by slide.id" index="slide.id">
     <img ng-src="{{$ctrl.item.img}}" />
   </div>

  </div>



   <div class="media">
     <!-- <img ng-src="{{$ctrl.item.img}}" alt="{{$ctrl.item.title}}" /> -->

   </div>

   <div class="description-box">
     <h4>{{$ctrl.item.title}}</h4>
     <p>{{$ctrl.item.description}}</p>
     <span class="categories">{{$ctrl.item.subtitle}}</span>
   </div>

     <div class="link-box group">
       <a href="#">Details</a>
       <a class="popup-modal-dismiss" ng-click="$ctrl.cancel()">Close</a>
     </div>

 </div><!-- modal-01 end -->
